* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-fp:Roboto;
    --primary-blue:#5891CF;
    --secondary-blue:#ECF4FF;
    --dark-blue:#2E3F62;
    --white:#ffffff;
    --primary-grey:#F8F8F7;
    --secondary-grey:#767575;
}

body{
    background-color: var(--primary-grey);
    font-family: var(--primary-fp);
}

/* common css start here */
.input-group{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 50px;
    overflow: hidden;
    width: auto;
}

.input-group i{
    color: var(--primary-blue);
}

.input-group, .form-control, .input-group-text{
    border: none;
    background-color: var(--white);
}

.common-heading{
    position: absolute;
    bottom: 10px;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    color: white;
}

/* common css end here */


/* home section css start here */
.home{
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.home-banner-img{
    width: 70%;
    margin-left: auto;
    transform: rotate(322deg);
    position: absolute;
    top: -40%;
    right: -12%;
    height: 100%;
}

.home-banner-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10%;
}

.navbar-brand{
    font-size: 2em;
    color: black !important;
}

.home-banner-text{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.home-banner-text h2{
    font-family: var(--primary-fp);
    font-size: 4em;
    font-weight: bold;
}

.home-banner-text p{
    color: gray;
}

.home-banner-container .input-group{
    position: absolute;
    bottom: 10%;
    width: auto;
}
/* home section end here */


/* about us section start here */
.about-us{
    padding-top: 30px;
    padding-bottom: 30px;
}

.abt-us-tp-row{
    column-gap: 5%;
}

.abt-us-tp-img{
    height: 260px;
    border-radius: 10%;
    background-color: var(--primary-blue);
    max-width: 40%;
    padding: 0;
    overflow: hidden;
    position: relative;
}

.abt-us-bt-img{
    height: 200px;
    border-radius: 20px;
    max-width: 85%;
    padding: 0;
    overflow: hidden;
}

.abt-us-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.about-us-text{
    max-width: 88%;
}

.about-us-text p{
    color: var(--secondary-grey);
}

.abt-input{
    width: 50%;
}
/* about section end here */


/* product section css start here */
.product{
    padding-top: 30px;
    padding-bottom: 30px;
}

.product-title-box{
    height: 260px;
    background-color: var(--primary-blue);
    border-radius: 10%;
    max-width: 90%;
    position: relative;
}

.product-card img{
    height: 100px;
    object-fit: contain;
    object-position: left;
    filter: grayscale(100%);
}

.product-card i{
    color: var(--primary-blue);
}

.product-card, .card-header, .card-footer{
    border: none;
    background-color: var(--white);
}
/* product section css end here */



/* press section css start her */
.press{
    padding-top: 30px;
    padding-bottom: 30px;
}
/* press section css end here */


/* brand logo css start here */
.brand{
    padding-top: 30px;
    padding-bottom: 30px;
}

.brand-container{
    justify-content: space-between;
}

.brand-container img{
    height: 140px;
    object-fit: contain;
    object-position: center;
    width: 180px;
}

/* brand logo css end here */

/* contact section css start here */
.contact{
    padding-top: 30px;
    padding-bottom: 30px;
}

.contact-card{
    height: 100%;
    border: none;
}

.google-map{
    filter: grayscale(100%);
    width: 100%;
}

/* contact section css end here */

/* footer section css start here */
.footer-section{
    padding-top: 30px;
    padding-bottom: 30px;
}
/* footer section css end here */


/* media screen start here */
@media screen and (min-width:1800px) {
    .container{
        max-width: 1500px !important;
    }
}

@media screen and (max-width:1800px) and (min-width:1074px) {
    .container{
        max-width: 90vw;
    }
    
}

@media screen and (max-width:1074px) {
    .container{
        max-width: 966px;
    }
    
}

@media screen and (max-width:1400px) {
    .home-banner-img{
        top: -35%;
        right: -10%;
    }
    
}

@media screen and (max-width:1200px) {
    .home-banner-img{
        top: -30%;
        right: -8%;
        width: 66%;
        height: 88%;
    }

    .common-heading{
        font-size: 2.5em;
    }
}

@media screen and (max-width:992px) {
    .home-banner-img{
        top: -25%;
        right: -7%;
        width: 66%;
        height: 88%;
    }

    .common-heading{
        font-size: 2em;
    }
    
}

@media screen and (max-width:768px) {
    .home-banner-img{
        top: -20%;
        right: -6%;
        width: 65%;
        height: 70%;
    }

    .common-heading{
        font-size: 1.5em;
    }
    
}
/* media screen end here */